<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Обратная связь</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Forum&display=swap"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/other.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
  <img src="/static/images/other_bg.png" alt="Фоновое изображение" class="background-image">
  <div class="container bg-transparency">
      <h1 class="mb-4">Обратная связь</h1>
      <form id="feedback-form">
          <div class="form-group">
              <label for="sender_login">Имя:</label>
              <input type="text" class="form-control" id="sender_login" required>
          </div>
          <div class="form-group">
              <label for="message_text">Сообщение:</label>
              <textarea class="form-control" id="message_text" rows="3" required></textarea>
          </div>
          <button type="submit" class="btn btn-custom">Отправить</button>
      </form>
      <div class="mt-4" id="feedback-result" style="display: none;">
          <h2>Ваш отправленный фидбэк:</h2>
          <p id="feedback-content"></p>
      </div>
  </div>
  <script src="/static/js/feedback.js"></script>
</body>
</html>